<div class="container">
  <h2>Por país</h2>
  <div class="row">
    <div class="col">
      <app-pais-input (onEnter)="find( $event )" 
      placeholder="Buscar Pais" 
      (onDebounce)="sugerencias( $event )"
      ></app-pais-input>
    </div>
  </div>
<ul class="list-group" *ngIf="mostrarSugerencias">
  <li *ngFor=" let sugerencia of paisesSugeridos" 
  class="list-group-item list-group-item-action">
    <a 
    class="nav-link"
    [routerLink]="['/pais', sugerencia.cca2]" >
      {{ sugerencia.name.common }}
    </a>
  </li>

  <li  
  class="list-group-item list-group-item-action"
  (click)="buscarSugerido(termino)"
  >
    <a class="nav-link">
     Buscar: "{{ termino }}"
    </a>
  </li>
</ul>
<hr>

<div *ngIf="ExistError"
class="alert alert-danger">
    No se encontra nada con el <b>{{termino}}...</b>
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-table [paises] = "paises"></app-pais-table>
    </div>
</div>
</div>